<div class="card collection-card product" data-id="{{product.id}}">
  {% if product.has_free_shipping() %}
  <div class='has-free-shipping-wrapper'>
    <span class="label">free shipping</span>
  </div>
  {% endif %}
  <!--Card image-->
  <div class="p-4 image-wrapper">
    <a href="{{product.link}}">
      <img src="{{product.thumbnail.src('product-thumbnail')}}" class="img-fluid" alt="">
    </a>
  </div>
  <div class='card-content'>
    <h5 class='title'>
      <a href="{{product.link}}">{{product.post_title}}</a>
    </h5>
    <div class='price-wrapper' itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
      {{product.price_html}}
    </div>
    
    {% include 'partials/product/brands.twig' %}
    
    <div class='add-to-cart-outer d-flex justify-content-center align-items-center'>
      <a class='p-2 d-flex justify-content-center align-items-center product-quick-preview'>
        <i class="fa fa-2x fa-eye" aria-hidden="true"></i>
      </a>
      
      {% if fn('wcms_get_product_customizations', product.id) %}
        {% include 'woo/partials/customize.twig' %}
      {% else %}
        {% include 'woo/partials/add-to-cart.twig' %}
      {% endif %}
      
    </div>
  </div>
</div>